---
import Layout from "../../layouts/Layout.astro";
import TagChip from "../../components/TagChip.astro";
import { format } from "date-fns";

const posts = await Astro.glob("./*.md");
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime(),
);
---

<Layout title="AG Blog">
  <main>
    <h1>Blog</h1>
      <div class="postsList">
      {
        sortedPosts.map((post) => (
          <article>
            <img src={post.frontmatter.listImageUrl} alt="" />
            <div>
              <div class="date_and_author">
                <time datetime={post.frontmatter.date}>
                  {format(new Date(post.frontmatter.date), "MMMM d, yyyy")}
                </time>
                <span class="author">
                  {post.frontmatter.author && (
                    <span class="author">by {post.frontmatter.author}</span>
                  )}
                </span>
              </div>
              <h2>
                {post.frontmatter.title}
              </h2>
              {post.frontmatter.description && (
                <p class="description">{post.frontmatter.description}</p>
              )}
              <div class="tags">
              {post.frontmatter.tags?.map(t => <TagChip tag={t} />)}
              </div>
            </div> 
          </article>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: light-dark(var(--dark1), var(--lite1));
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 2em;
    color: light-dark(var(--dark1), var(--lite1));
  }

  div.postsList {
    display: grid;
    gap: 2rem;

      & article {
        border: 1px solid light-dark(var(--dark1), var(--lite1));
        display: flex;
        padding: 0;

        & img {
          height: 100%;
          margin-right: 10px;
        }
        & div.date_and_author {
          display: flex;
          justify-content: space-between;

          time {
            font-size: 0.75rem;
          }
          span.author {
            font-size: 0.75rem;
          }
        }
        & p.description {
          margin: 1rem 0 0;
          color: light-dark(var(--dark1),var(--lite1));
        }
      }
  }

  /* .post-preview {
    padding: 1.5rem;
    border-radius: 8px;
    background: linear-gradient(
      rgba(light-dark(var(--lite2),var(--dark2)), 66%),
      rgba(light-dark(var(--lite2), var(--dark2)), , 33%)
    );
    border: 1px solid rgba(light-dark(var(--dark3),var(--lite3)), 25%);

    & h2 {
      margin: 0;
      font-size: 1.5rem;
    }
  } */
</style>
