---
import TagChip from "./TagChip.astro";
import { cloudinaryImageBaseUrl } from "../constants";
interface Props {
  post: {
    title: string;
    description: string;
    tags: string[];
    mainImageUrl: string;
    frontmatter: any;
  };
}

const { post } = Astro.props;
const { title, description, tags, cloudinaryImageFileName, homePageImageUrl, url } = post.frontmatter;
---

<li>
  <a href={url}>
    <img
      src={homePageImageUrl ?? `${cloudinaryImageBaseUrl}/c_fill,w_300,ar_16:9,q_auto/${cloudinaryImageFileName}`}
      alt=""
    />
    <div>
      <h4>{title}</h4>
      <p>{description}</p>
      {tags?.map((tag: string) => <TagChip tag={tag} />)}
    </div>
  </a>
</li>

<style>
  li {
    position: relative;
    list-style-type: none;
    max-width: 300px;
    border: 1px solid light-dark(var(--dark1), var(--lite1));
    margin: 5px;
    background-color: light-dark(var(--lite2), var(--dark2));

    a {
      color: light-dark(var(--dark1), var(--lite1));
      text-decoration: none;
    }

    img {
      width: 100%;
    }

    div {
      padding: 0.5rem;
    }
    h4 {
      text-align: center;
      margin: 0;
    }
  }
  /* TODO: Should be variable-driven like so: @media (width < var(--width-max-phone)) { */
  @media (width < 768px) {
    li {
      max-width: 100%;
      background: none;

      img {
        position: absolute;
        object-fit: cover;
        filter: opacity(0.15);
        z-index: -1;
        height: 100%;
      }
    }
  }
</style>
