---
import Layout from "./Layout.astro";
import Metatags from "../components/Metatags.astro";
import { format } from "date-fns";
import { cloudinaryImageBaseUrl } from "../constants";

const { frontmatter } = Astro.props;
const mainImgSrc =
  frontmatter.mainImageUrl ??
  `${cloudinaryImageBaseUrl}/c_fill,w_1000,ar_16:9/q_auto/${frontmatter.cloudinaryImageFileName}`;
---

<Layout title={frontmatter.title}>
  <Metatags
    slot="metatags"
    image={mainImgSrc}
    description={frontmatter.description}
    site_name="Agile Gadgets"
    title={frontmatter.title}
    url={"https://agilegadgets.com" + frontmatter.url}
  />
  <article class="blog-post">
    <header>
      <img src={mainImgSrc} alt="" />

      <h1>{frontmatter.title}</h1>
      <div class="metadata">
        <time datetime={frontmatter.pubDate}>
          {format(new Date(frontmatter.pubDate), "MMMM d, yyyy")}
        </time>
        {frontmatter.author && <span class="author">by {frontmatter.author}</span>}
      </div>
    </header>
    <div class="content">
      <slot />
    </div>
  </article>
</Layout>

<style>
  .blog-post {
    font-family: Menlo, Arial, sans-serif;
    max-width: 65ch;
    margin: 0 auto;
    padding: 2rem;

    header {
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
      h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }
      .metadata {
        color: light-dark(var(--dark1), var(--lite1));
        font-size: 0.9rem;
      }

      .author {
        margin-left: 0.25rem;
      }
    }

    .content {
      color: light-dark(var(--dark1), var(--lite1));
      line-height: 1.7;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: light-dark(var(--dark2), var(--lite2));
      }
    }
  }

  /* .content :global(h2) {
    font-size: 1.8rem;
    margin: 2rem 0 1rem;
  }

  .content :global(p) {
    margin-bottom: 1.5rem;
  }

  .content :global(img) {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .content :global(code) {
    background: rgba(var(--lite2), 12%);
    color: rgb(var(--lite2));
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
    font-size: 0.9em;
  } */
</style>
